//
// Copyright (c) 2014-present, Facebook, Inc.
// All rights reserved.
//
// This source code is licensed under the BSD-style license found in the
// LICENSE file in the root directory of this source tree. An additional grant
// of patent rights can be found in the PATENTS file in the same directory.
//

#include "../Base-iOS.xcconfig"

// declare inlines as extern
GCC_INLINES_ARE_PRIVATE_EXTERN = YES

// Rename target name, executable, and bundle Info.plist location.
// This is necessary so we can distinguish between OS X and iOS targets when adding embedded frameworks, and so we can keep the nice @import pop syntax as well.
PRODUCT_NAME = pop
INFOPLIST_FILE = pop-embedded/Info.plist

// Compiler Options,
OTHER_LDFLAGS = $(inherited) -weak_framework UIKit -weak_framework QuartzCore -weak_framework CoreGraphics -weak_framework CoreImage -ObjC
