// 
// Copyright (c) 2014-present, Facebook, Inc.
// All rights reserved.
// 
// This source code is licensed under the BSD-style license found in the
// LICENSE file in the root directory of this source tree. An additional grant
// of patent rights can be found in the PATENTS file in the same directory.
// 

#include "../Compiler.xcconfig"

// Deployment
DSTROOT = /tmp/$(TARGET_NAME)
INSTALL_PATH = $(SYMROOT)/Headers
SKIP_INSTALL = YES

// declare inlines as extern
GCC_INLINES_ARE_PRIVATE_EXTERN = YES

// Use PRODUCT_NAME instead of TARGET_NAME to support multiple targets for different platforms
PUBLIC_HEADERS_FOLDER_PATH = include/$(PRODUCT_NAME)
